go 1.20

use (
	.
	./Chapter1/Exercise1-1
	./Chapter1/Exercise1-10
	./Chapter1/Exercise1-11
	./Chapter1/Exercise1-12
	./Chapter1/Exercise1-2
	./Chapter1/Exercise1-3
	./Chapter1/Exercise1-4
	./Chapter1/Exercise1-5
	./Chapter1/Exercise1-6
	./Chapter1/Exercise1-7
	./Chapter1/Exercise1-8
	./Chapter1/Exercise1-9
	./Chapter2/Exercise2-1
	./Chapter2/Exercise2-2
	./Chapter2/Exercise2-3
	./Chapter2/Exercise2-4
	./Chapter2/Exercise2-5
	./Chapter3/Exercise3-1
	./Chapter3/Exercise3-2
	./Chapter3/Exercise3-3
	./Chapter3/Exercise3-4
	./Chapter3/Exercise3-5
	./Chapter3/Exercise3-6
	./Chapter3/Exercise3-7
)
