go 1.20

use (
	.
	./Chapter1/Exercise1-1
	./Chapter1/Exercise1-10
	./Chapter1/Exercise1-11
	./Chapter1/Exercise1-12
	./Chapter1/Exercise1-2
	./Chapter1/Exercise1-3
	./Chapter1/Exercise1-4
	./Chapter1/Exercise1-5
	./Chapter1/Exercise1-6
	./Chapter1/Exercise1-7
	./Chapter1/Exercise1-8
	./Chapter1/Exercise1-9
	./Chapter2/Exercise2-1
	./Chapter2/Exercise2-2
	./Chapter2/Exercise2-3
	./Chapter2/Exercise2-4
	./Chapter2/Exercise2-5
	./Chapter3/Exercise3-1
	./Chapter3/Exercise3-10
	./Chapter3/Exercise3-11
	./Chapter3/Exercise3-12
	./Chapter3/Exercise3-13
	./Chapter3/Exercise3-2
	./Chapter3/Exercise3-3
	./Chapter3/Exercise3-4
	./Chapter3/Exercise3-5
	./Chapter3/Exercise3-6
	./Chapter3/Exercise3-7
	./Chapter3/Exercise3-8
	./Chapter3/Exercise3-9
	./Chapter4/Exercise4-1
	./Chapter4/Exercise4-10
	./Chapter4/Exercise4-11
	./Chapter4/Exercise4-12
	./Chapter4/Exercise4-13
	./Chapter4/Exercise4-14
	./Chapter4/Exercise4-2
	./Chapter4/Exercise4-3
	./Chapter4/Exercise4-4
	./Chapter4/Exercise4-5
	./Chapter4/Exercise4-6
	./Chapter4/Exercise4-7
	./Chapter4/Exercise4-8
	./Chapter4/Exercise4-9
	./Chapter5/Exercise5-1
	./Chapter5/Exercise5-10
	./Chapter5/Exercise5-11
	./Chapter5/Exercise5-12
	./Chapter5/Exercise5-13
	./Chapter5/Exercise5-14
	./Chapter5/Exercise5-15
	./Chapter5/Exercise5-16
	./Chapter5/Exercise5-17
	./Chapter5/Exercise5-18
	./Chapter5/Exercise5-19
	./Chapter5/Exercise5-2
	./Chapter5/Exercise5-3
	./Chapter5/Exercise5-4
	./Chapter5/Exercise5-5
	./Chapter5/Exercise5-6
	./Chapter5/Exercise5-7
	./Chapter5/Exercise5-8
	./Chapter5/Exercise5-9
	./Chapter6/Exercise6-1
	./Chapter6/Exercise6-2
	./Chapter6/Exercise6-3
	./Chapter6/Exercise6-4
	./Chapter6/Exercise6-5
	./Chapter7/Exercise7-1
	./Chapter7/Exercise7-10
	./Chapter7/Exercise7-11
	./Chapter7/Exercise7-12
	./Chapter7/Exercise7-13
	./Chapter7/Exercise7-14
	./Chapter7/Exercise7-2
	./Chapter7/Exercise7-3
	./Chapter7/Exercise7-4
	./Chapter7/Exercise7-5
	./Chapter7/Exercise7-6
	./Chapter7/Exercise7-7
	./Chapter7/Exercise7-8
	./Chapter7/Exercise7-9
)
